body{
    background-image: url(https://live.staticflickr.com/1954/43090733340_ff8d7d7721_b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.Caja-Base{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(3, 0, 163, 0.37);
    border-radius: 25px;
    color: white;
}

.Transparent{
    background: transparent;
    border: none;
}