<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Node</title>
<%- include("partials/head") %>
   </head>
<body>
    <div class="container">
        <div class="card text-center mt-5">
            <div class="card-body">
                <h1><span class="fa fa-lock"></span>Registrate o inicia sesion</h1>
                <a href="/login" class="btn btn-light">
                    <span class="fa fa-user">Registro Local</span>
                </a>
                <a href="/singup" class="btn btn-light">
                    <span class="fa fa-user">Inicio Sesion</span>
                </a>
            </div>
        </div>
    </div>
    <div class="Informacion">
        <p>Con Esta pagina de torneos de ping pong pondras a prueba tus capacidades para demostrar que eres el mejor, forma un grupo y juntos derroten a sus contrincantes consiguiendo asi la victoria!
        </p><br>
        <p>Jugando asi limpiamente y con respetos a cada uno de los equipos, registrate para poder empezar esta aventura!</p><br><br>
        <div class="IMG-Data"></div>

        <p><h2><b>"Bienvenido A Nuestro sitio Web"</b></h2></p><br><br>

        <p>Estamos muy alegres de tenerte aqui!, visita nuestra pagina con nuevos eventos y torneos, Inicia sesion para poder empezar
            con tu aventura en este deporte <br><br>

            <b>Es tiempo de poner a prueba tus capacidades, gana premios!</b>
        </p>
        <a href="/principal" class="btnInic">Ver Pagina Web
        </a>
    </div>
    <style>
    
    *{
    margin: 0;
    padding: 0;
    font-size: 105%;
    font-family: calibri;
}

header{
    background-color: rgb(12, 0, 122);
    padding: 2%;
    font-size: 200%;
    display: flex;
    color: white;
}

header > p {
    margin-right: 15%;
}

.btnInic{
padding: 1% 1.5%;
color: white;
border-radius: 20px;
margin: 0;
margin-left: 40%;
border: none;
background: linear-gradient(45deg, rgb(47, 0, 255),rgb(0, 142, 224),rgb(229, 229, 255));
transition: .1s;
}

.btnInic:hover{
    transform: scale(.9);
    transition: .1s;
    background: linear-gradient(45deg, rgb(23, 0, 124),rgb(0, 84, 133),rgb(145, 145, 255));
}

body{
    margin: 0;
    background-image: url(https://live.staticflickr.com/1954/43090733340_ff8d7d7721_b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

img{
    display: block;
    width: 100%;
}


.IMG-Data{
    width: 400px;
    height: 250px;
    float: left;
    margin: 2%;
    background: url(https://live.staticflickr.com/3185/2809925887_807ec52974_b.jpg) content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
}

.Informacion{
    font-size: 180%;
    border: 2px solid rgb(255, 255, 255);
    padding: 2% 0 2% 2%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(26, 1, 119, 0.37);
    border-radius: 50px;
    margin: 3% 3% 4% 3% ;
    color: white;
}


@media (max-width: 800px ) {
    .IMG-Registrate{
        margin: 2% 12%;
        width: 300px;
        height: 100px;
        
}

.btnInic{
    transform: scale(0.6);
    }

.btnInic:hover{
    transform: scale(0.5);
    }

.IMG-Data{
    width: 300px;
    height: 200px;
}

}
    </style>
</body>
</html>