<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="./css/header.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index/index.css">
    <link rel="icon" href="./img/PingPongItem.png" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Torneos de PingPong</title>
</head>
<body><br><br><br><br>
    <div class="Caja-Principal">
        <form action="POST" name="frmdatos">
            <h1>Informacion General de jugadores en el torneo:</h1>
            <div class="form_group">
                <label for="Nombre-Equipo" >Nombre del Equipo a Ingresar:</label>
                <input type="text" class="form-control" name="Nombre_Equipo" id="title" required><br>
            </div>
            <p><h3>Integrantes:</h3></p>
            <p>Nombres y Apellidos:</p>
            <div class="form-group Pato">
                <div class="nombres">
                <input type="text" class="form-control Nombreform" name="Integrantes" id="Integrantes" required>
                <input type="text" class="form-control Nombreform" name="Apellidos" id="Integrantes" required>
                </div>
                <div class="edad">
                    <p>Edad de los Integrantes:</p><br>
                    <input type="number" class="Edad" name="Edad" min="15" max="50" id="Edad" required><br><br>
                    <input type="number" class="Edad1" name="Edad1" min="15" max="50" id="Edad1" required><br><br>
                </div>
            </div>
        </form><br><br><br>
        <button id="BtnSub">Agregar Equipo</button><br><br>
        <a href="/"><button id="BtnBack">Cancelar</button></a>
    </div>
</body>
<style>

    body{
    background-image: url(https://live.staticflickr.com/1954/43090733340_ff8d7d7721_b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding-bottom: 9%;
}

*{
    margin: 0;
    padding: 0;
}

.Caja-Principal{
    border: 2px solid black;
    margin: 0 4%;
    height: 750px;
    padding: 3%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(2, 0, 100, 0.37);
    color: white;
}

.nombres{
width: 40%;

}

.Pato{
    display: flex;
    margin: 0;
}

.Nombreform{
    margin: 8% 0%;
}

.edad{
    margin-top: -3.5%;
    font-size: 22px;
    margin-left: 12%;
}

.edad > p{
    font-size: 17px;
}

.Edad{
    width: 60px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
}

.Edad1{
    width: 60px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
}

#BtnSub{
text-align: center;
margin: 0 34%;
padding: 1% 10%;
border: none;
border-radius: 15px;
background-color: rgb(93, 93, 255);
color: white;
transition: .1s;
}

#BtnSub:hover{
    transform: scale(0.9);
    transition: .1s;
background-color: rgb(47, 47, 199);
}

#BtnBack{
text-align: center;
margin: 0 36%;
padding: 1% 10%;
border: none;
border-radius: 15px;
background-color: rgb(93, 93, 255);
color: white;
transition: .1s;
}

#BtnBack:hover{
    transform: scale(0.9);
    transition: .1s;
background-color: rgb(47, 47, 199);
}

#Equipos{
    width: 25%;
}
@media (max-width: 700px) {
    .Edad{
        transform: scale(.6);
    }

    .edad{
        margin-top: 0%;
    }

    .edad{
        margin-top: -16%;
    }
}
</style>



<script>

document.getElementById("BtnSub").addEventListener("click", redireccionar);
function redireccionar(){
    var Nomeusuario=document.getElementById("Integrantes").value;
    var edadUsuario = document.getElementById("Edad").value;

    for(var i=0; i<Integrantes.length; i++){
        if(Nomeusuario == Integrantes[i]){
            for(var j=0; j<Edad.length; j++){
                if(edadUsuario == Edad[j]){
                    location.href = "index.html";
                }
                else{
                    alert("No se ha ingresado ningun dato");
                }
            }
        }
    }
}

document.getElementById("BtnSub").addEventListener("click", enviar);

function enviar(){
    var nombre = document.getElementById("Integrantes").value;
    var patronnombre = /[a-zA-Z]/;
    var edadJugador = document.getElementById("Edad").value;

    if(nombre == "" || edadJugador == ""){
        alert("No hay ningun campo lleno");
        
    }

        if(patronnombre.test(nombre)){
            if(edad.test(edadJugador)){
                res.innerHTML = "<label>Los datos ingresados han sido validos</label>";
                return 0;
            }
            else{
                alert("La edad no es permitida");
                return 0;
            }
        }
        else{
            alert("El nombre no es correcto");
            return 0;
        }
}
</script>
</html>